
@import '../../costants';

.full-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.bg-gradient {
  background: $cPurple;
  background: -webkit-linear-gradient(to bottom, $cPurple, $cBlue, $cGreen);
  background: linear-gradient(to bottom, $cPurple, $cBlue, $cGreen);
}