@import "../../costants";

.page-form {
  padding: 16px;
  position: relative;
  z-index: 1;

  .form__header {
    margin: 8px 0;

    h1 {
      color: #fff;
      line-height: 0;
      margin: 8px 0;
    }
  }

  ::placeholder {
    color: #d6d6d6;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    color: #d6d6d6;
  }

  ::-ms-input-placeholder {
    color: #d6d6d6;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input {
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    background: transparent !important;
    border: 0 !important;
    font-size: 1.5rem !important;
    border-radius: 0 !important;
    color: #fff !important;
    border-bottom: 2px solid $cPurple !important;
    padding-left: 0 !important;
  }

  .dropdown {
    &.label {
      color: #fff !important;
      font-size: 1.5rem !important;
      background: transparent !important;
      border-radius: 0 !important;
      border-bottom: 2px solid $cPurple !important;
    }

    .menu {
      //width: 200px;
    }
  }

  .list {
    .header,
    .description {
      color: #fff !important;
    }
  }

  .input-number {
    @media (min-width: $breakpoint-tablet) {
      position: relative;
      width: 200px !important;
    }
  }

  .input-label {
    padding-top: 8px;
    color: #fff;
    font-weight: bold;
  }

  .input-sublabel {
    color: #fff;
    padding-top: 8px;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .features {
    overflow: hidden;
    height: 40px;

    .features__item {
      color: $cYellow;
      font-family: "Open Sans", sans-serif;
      font-size: 1.3rem;
      margin: 16px 0;
      padding-bottom: 2px;
      font-weight: bold;
    }

    .features__list {
      list-style: none;

      animation-name: change;
      animation-duration: 20s;
      animation-iteration-count: infinite;
    }
  }

  .segment {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    padding: 0;
    overflow: auto;
    max-width: 100%;
    max-height: 60vh;

    @media (min-width: $breakpoint-tablet) {
      width: 80%;
      max-height: 50vh;
    }
  }

  .liqudity-desc {
    font-size: .8rem;
  }

  .liquidity-table {
    background-color: transparent;
    border: 0;
    thead th {
      background-color: transparent !important;
    }

    th, td{
      padding-left: 0 !important;
      padding-right: 24px !important;
      padding-top: 4px !important;
      padding-bottom: 4px !important;
      color: #fff !important;
    }
  }
}

@keyframes change {
  0%,
  7.14%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, -45%, 0);
  }
  50% {
    transform: translate3d(0, -90%, 0);
  }
  75% {
    transform: translate3d(0, -45%, 0);
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}
