@import "../../costants";

.nav {
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $breakpoint-tablet) {
    justify-content: flex-start;
  }

  .nav__item {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 16px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    margin: 16px;
    padding: 6px 24px;
    outline: 0;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &.active,
    &:active,
    &:focus {
      color: $cBlue;
      border-color: $cBlue;
    }
  }
}
