@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Open+Sans&display=swap");

$cPurple: #783192;
$cBlue: #59bcc8;
$cGreen: #9ae6b4;
$cYellow: #ffd700;
$shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$breakpoint-tablet: 768px;