@import './costants';

.purple {
  background-color: $cPurple;
  fill: $cPurple;
  stop-color: $cPurple;
}

.blue {
  background-color: $cBlue;
  fill: $cBlue;
  stop-color: $cBlue;
}

.green {
  background-color: $cGreen;
  fill: $cGreen;
  stop-color: $cGreen;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: column-reverse;
  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }
}

.flex-1 {
  flex: 1;
}

.vh-center {
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;

  &.bottom {
    bottom: 0;
  }

  &.top {
    top: 0;
  }

  &.right {
    right: 0;
  }

  &.left {
    left: 0;
  }
}

.logo {
  display: none;
  @media (min-width: $breakpoint-tablet) {
    display: inline;
    width: 200px !important;
    padding: 24px !important;
  }
}
.hero {
  .hero__image {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    @media (min-width: $breakpoint-tablet) {
      position: relative;
      width: 100%;
    }
  }
}

.footer {
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  padding: 8px;
}